
.cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--background-color), var(--gradient-color), var(--background-color));
    margin: 0 auto;
    border-radius: 0.3rem;
    margin-bottom: 3rem;
}

.cartPageTitle {
    font-size: 2rem;
    margin-top: 2rem;
}

.cartPagEmptyCartText {
    margin-top: 4rem;
}

.cartPageCartItems {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.cartPageSingleCartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    background-color: gray;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.cartPageCartItemImgAndQuantity {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.cartPageDeleteBtnAndPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    gap: 0.5rem;
}

.cartPageMovieImg {
    border-radius: 0.3rem;
}

.cartPageItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartPageItemQuantity {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cartPageItemQuantityP {
    font-size: 0.7rem;
    background-color: rgb(91, 91, 91);
    width: 1.5rem;
    border: 1px solid rgb(198, 198, 198);
    text-align: center;
}

.cartPageItemPiece {
    font-size: 0.7rem;
}

.cartPageBtnQuantityContainer {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.cartPageBtnQuantityContainer button {
    width: 1.3rem;
    height: 1.3rem;
}

.cartPageBtnSubtractQuantity.one {
    width: 1.3rem;
    height: 1.3rem;
    background-color: gray;
}

.cartPageBtnDeleteCartItem {
    background-color: transparent;
    border: 0;
}

.cartPagePay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartPageTotalSum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.cartPageBtnPay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-top: 3rem;
    padding: 1rem;
}

@media(max-width: 440px) {
    .cartPage {
        width: 100vw;
    }

    .cartPageCartItems {
        width: 100%;
        padding: 0.7rem;
    }

    .cartPageItemInfo {
        gap: 1rem;
    }

    .cartPageDeleteBtnAndPriceContainer {
        padding-right: 0.3rem;
        width: 15vw;
    }

    .cartPagePay {
        width: 95vw;
    }

    .cartPageBtnPay {
        width: 50vw;
    }
}

@media(min-width: 440px) {
    .cartPage {
        width: 70vw;
    }

    .cartPageCartItems {
        width: 55vw;
        padding: 2rem;
    }

    .cartPageItemInfo {
        gap: 0.5rem;
    }

    .cartPageDeleteBtnAndPriceContainer {
        padding-right: 1rem;
        width: 5vw;
    }

    .cartPagePay {
        width: 49vw;
    }

    .cartPageBtnPay {
        width: 20vw;
    }
}