
.discoverPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discoverPageRefreshBtnContainer {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.discoverPageRefreshBtnContainer button {
    height: 3rem;
    width: 5rem;
    font-size: 1.2rem;
}