.filterPageContainer {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.inputFieldSearch {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.divider {
  border: none;
  border-top: 1px solid #A9A9A9;
  margin: 16px 0;
  width: 100%;
  opacity: 0.7;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  gap: 16px;
  justify-items: center; 
}

.filterPageGenreButtons {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem ;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 3rem;
}

.filterPageGenreButtons button {
  padding: 0.3rem;
}

.filterPagePageButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.activeGenreButton {
  background-color: var(--text-color);
  color: var(--button-background-color);
}