
.detailPage {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 90vh;
    background-color: var(--background-color);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.detailPageBackdropWrapper {
    position: absolute; 
    top: 2rem;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover; 
    z-index: 0; 
    overflow: hidden;
}

.detailPageXicon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: -1rem;
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.detailPageBackdropImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.detailPageTopPart, 
.detailPageBottomPart {
    position: relative; 
    z-index: 1;
}

.detailPageBackdropWrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20rem; 
    background: linear-gradient(
        to bottom,
        var(--background-color) 0%,      
        transparent 50%,                 
        transparent 50%,                 
        var(--background-color) 100%     
    );
    box-shadow: 
        inset 20px 0 40px var(--background-color),  
        inset -20px 0 40px var(--background-color); 
    z-index: 1;
}

.detailPageTopPart {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.detailPageTopBottomPart {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    padding-left:  1rem;
}

.detailPageMovieImg {
    border-radius: 0.6rem;
    max-width: 200px;
}

.detailPageTopInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

.detailPageTopInfo h2 {
    margin: 0;
    padding: 0;
}

.detailPageBottomTopPart {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.detailPageBottomPart {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--text-color);
}

.detailPageBottomBottomPart {
    display: flex;
    margin-bottom: 2rem;
}

.detailPageMovieOverview {
    font-size: 1rem;
}

.detailPageSpecs {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
}

.detailPageBtnAddMovieToCart {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.detailPageLanguageInfo {
    font-size: 0.6rem;
    width: 20%;
}

@media(max-width: 440px) {
    .detailPage {
        width: 95%;
    }

    .detailPageTopBottomPart {
        flex-direction: column;
        align-items: center;
    }

   .detailPageBottomTopPart {
    flex-direction: column;
   }

    .detailPageBottomPart {
        align-items: center;
        padding-top: 2rem;
    }

    .detailPageBottomBottomPart {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .detailPageMovieOverview {
        font-size: 1rem;
        width: 100%;
    }
}

@media(min-width: 440px) {
    .detailPage {
        width: 70%;
    }

    .detailPageTopBottomPart {
        flex-direction: row;
        padding-top: 1rem;
    }

    .detailPageBottomPart {
        padding-top: 1rem;
    }

    .detailPageBottomBottomPart {
        flex-direction: row;
        justify-content: space-between;
    }

    .detailPageMovieOverview {
        font-size: 1rem;
        width: 60%;
    }
}

