.welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    max-width: 100%;
}

.welcomePageMovieRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
}

.welcomePageImg {
    border-radius: 2rem;
    margin: 0.5rem;
}

.welcomePageBtn {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 1rem;
    max-width: fit-content;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    transition: .2s ease-in-out;
}

.welcomePageBtn:hover {
    cursor: pointer;
    background-color: var(--button-hover-background-color)
}

p {
    color: var(--text-color)
}

@media (max-width: 600px) {
    .welcomePage {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        align-items: center;
    }

    .welcomePageMovieRow {
        position: relative;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        width: 100%;
        margin-bottom: 2rem;
    }

    .welcomePageImg {
        width: auto;
        height: 350px;
        scroll-snap-align: start;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 0;
        margin: 0;
    }

    .welcomePageMovieCard {
        flex: 0 0 auto;
    }

    .welcomePageMovieRow::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: fit-content;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--background-color) 100%);
    }
}

.particles-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.welcomePageContent {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}