
.welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    max-width: 100%;
}

.welcomePageMovieRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
}

.welcomePageImg {
    border-radius: 2rem;
    margin: 0.5rem;
}

.welcomePageBtn {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 1rem;
    max-width: fit-content;
    margin-top: 1rem;
    padding: 0.5rem;
      border: 1px solid var(--border-color);

}
.welcomePageBtn:hover {
    cursor: pointer;
    background-color: var(--button-hover-background-color)
}

p{
 color: var(--text-color)
}

