.mainContent {

  flex: 1;
}

.mainHeader {
  background-color: rgb(187, 95, 19);
  color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mainFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgb(187, 95, 19);
  color: white;
}

.mainGrid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}