.mainContent {
  background-color: #212121;
  flex: 1;
}

.mainHeader {
  display: flex;
  background: linear-gradient(to top, #212121, #333333);
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}

.mainHeader a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.mainHeader a:last-child {
  
}


.mainHeader :last-child {
  margin-right: 10px;
  margin-left: auto;
  padding: 10px; 
}

.mainFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgb(187, 95, 19);
  color: white;
}

.mainGrid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}