* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Poppins';
}

button:hover {
  cursor: pointer;
}

.dark-mode-toggle {
  background-color: #121212;
  color: white;
  min-width: 50px;
}

:root {
  --background-color: white;
  --text-color: black;
  --button-background-color: #abc9e9;
  --button-text-color: white;

}

body[mode='dark'] {
  --background-color: #121212;
  --text-color: white;
  --button-background-color: #2d3136;
  --button-text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}