* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Poppins';
}

button:hover {
  cursor: pointer;
}

.dark-mode-toggle {
  background-color: #212121;
  color: white;
  min-width: 50px;
}

:root {
  --background-color: rgb(240, 224, 202);
  --text-color: black;
  --button-background-color: #abc9e9;
  --button-text-color: white;
  --border-color: rgb(106, 106, 106);
--button-hover-background-color: #a0c6e0;
--link-color: rgb(140, 94, 69);

}

body[mode='dark'] {
  --background-color: #212121;
  --text-color: white;
  --button-background-color: #2d3136;
  --button-text-color: white;
    --border-color: rgb(106, 106, 106);
--button-hover-background-color: #a4aaad;
--link-color: rgb(171, 171, 171);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}